In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count

In [5]:
spark = SparkSession.builder.getOrCreate()

In [16]:
df = spark.read.csv("/content/flights.csv", header=True)

In [17]:
df.show()

+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+
| id|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|          time_hour|                name|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+
|  0|2013|    1|  1|   517.0|           515|      2.0|   830.0|           819|     11.0|     UA|  1545| N14228|   EWR| IAH|   227.0|    1400|   5|    15|2013-01-01 05:00:00|United Air Lines ...|
|  1|2013|    1|  1|   533.0|           529|      4.0|   850.0|           830|     20.0|     UA|  1714| N24211|   LGA| IAH|   227.0|    1416|   5|    29|2013-01-01 05:00:00|United Air Lines ...|
|  2|2013|    1|  1|   542.0|           540|      2.0|   923.0|           850|     33.0|     AA|  1141| N619AA|   JFK| MIA|   160.0|    1089|   5|    40|2013-01-01 05:00:00|American Airlines...|
|  3|2013|    1|  1|   544.0|           545|     -1.0|  1004.0|          1022|    -18.0|     B6|   725| N804JB|   JFK| BQN|   183.0|    1576|   5|    45|2013-01-01 05:00:00|     JetBlue Airways|
|  4|2013|    1|  1|   554.0|           600|     -6.0|   812.0|           837|    -25.0|     DL|   461| N668DN|   LGA| ATL|   116.0|     762|   6|     0|2013-01-01 06:00:00|Delta Air Lines Inc.|
|  5|2013|    1|  1|   554.0|           558|     -4.0|   740.0|           728|     12.0|     UA|  1696| N39463|   EWR| ORD|   150.0|     719|   5|    58|2013-01-01 05:00:00|United Air Lines ...|
|  6|2013|    1|  1|   555.0|           600|     -5.0|   913.0|           854|     19.0|     B6|   507| N516JB|   EWR| FLL|   158.0|    1065|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
|  7|2013|    1|  1|   557.0|           600|     -3.0|   709.0|           723|    -14.0|     EV|  5708| N829AS|   LGA| IAD|    53.0|     229|   6|     0|2013-01-01 06:00:00|ExpressJet Airlin...|
|  8|2013|    1|  1|   557.0|           600|     -3.0|   838.0|           846|     -8.0|     B6|    79| N593JB|   JFK| MCO|   140.0|     944|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
|  9|2013|    1|  1|   558.0|           600|     -2.0|   753.0|           745|      8.0|     AA|   301| N3ALAA|   LGA| ORD|   138.0|     733|   6|     0|2013-01-01 06:00:00|American Airlines...|
| 10|2013|    1|  1|   558.0|           600|     -2.0|   849.0|           851|     -2.0|     B6|    49| N793JB|   JFK| PBI|   149.0|    1028|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
| 11|2013|    1|  1|   558.0|           600|     -2.0|   853.0|           856|     -3.0|     B6|    71| N657JB|   JFK| TPA|   158.0|    1005|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
| 12|2013|    1|  1|   558.0|           600|     -2.0|   924.0|           917|      7.0|     UA|   194| N29129|   JFK| LAX|   345.0|    2475|   6|     0|2013-01-01 06:00:00|United Air Lines ...|
| 13|2013|    1|  1|   558.0|           600|     -2.0|   923.0|           937|    -14.0|     UA|  1124| N53441|   EWR| SFO|   361.0|    2565|   6|     0|2013-01-01 06:00:00|United Air Lines ...|
| 14|2013|    1|  1|   559.0|           600|     -1.0|   941.0|           910|     31.0|     AA|   707| N3DUAA|   LGA| DFW|   257.0|    1389|   6|     0|2013-01-01 06:00:00|American Airlines...|
| 15|2013|    1|  1|   559.0|           559|      0.0|   702.0|           706|     -4.0|     B6|  1806| N708JB|   JFK| BOS|    44.0|     187|   5|    59|2013-01-01 05:00:00|     JetBlue Airways|
| 16|2013|    1|  1|   559.0|           600|     -1.0|   854.0|           902|     -8.0|     UA|  1187| N76515|   EWR| LAS|   337.0|    2227|   6|     0|2013-01-01 06:00:00|United Air Lines ...|
| 17|2013|    1|  1|   600.0|           600|      0.0|   851.0|           858|     -7.0|     B6|   371| N595JB|   LGA| FLL|   152.0|    1076|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
| 18|2013|    1|  1|   600.0|           600|      0.0|   837.0|           825|     12.0|     MQ|  4650| N542MQ|   LGA| ATL|   134.0|     762|   6|     0|2013-01-01 06:00:00|           Envoy Air|
| 19|2013|    1|  1|   601.0|           600|      1.0|   844.0|           850|     -6.0|     B6|   343| N644JB|   EWR| PBI|   147.0|    1023|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+
only showing top 20 rows

In [18]:
df = df[['id','name','year','month','day','origin','distance','hour','minute']]

In [20]:
df.show(truncate=False)

+---+------------------------+----+-----+---+------+--------+----+------+
|id |name                    |year|month|day|origin|distance|hour|minute|
+---+------------------------+----+-----+---+------+--------+----+------+
|0  |United Air Lines Inc.   |2013|1    |1  |EWR   |1400    |5   |15    |
|1  |United Air Lines Inc.   |2013|1    |1  |LGA   |1416    |5   |29    |
|2  |American Airlines Inc.  |2013|1    |1  |JFK   |1089    |5   |40    |
|3  |JetBlue Airways         |2013|1    |1  |JFK   |1576    |5   |45    |
|4  |Delta Air Lines Inc.    |2013|1    |1  |LGA   |762     |6   |0     |
|5  |United Air Lines Inc.   |2013|1    |1  |EWR   |719     |5   |58    |
|6  |JetBlue Airways         |2013|1    |1  |EWR   |1065    |6   |0     |
|7  |ExpressJet Airlines Inc.|2013|1    |1  |LGA   |229     |6   |0     |
|8  |JetBlue Airways         |2013|1    |1  |JFK   |944     |6   |0     |
|9  |American Airlines Inc.  |2013|1    |1  |LGA   |733     |6   |0     |
|10 |JetBlue Airways         |2013|1    |1  |JFK   |1028    |6   |0     |
|11 |JetBlue Airways         |2013|1    |1  |JFK   |1005    |6   |0     |
|12 |United Air Lines Inc.   |2013|1    |1  |JFK   |2475    |6   |0     |
|13 |United Air Lines Inc.   |2013|1    |1  |EWR   |2565    |6   |0     |
|14 |American Airlines Inc.  |2013|1    |1  |LGA   |1389    |6   |0     |
|15 |JetBlue Airways         |2013|1    |1  |JFK   |187     |5   |59    |
|16 |United Air Lines Inc.   |2013|1    |1  |EWR   |2227    |6   |0     |
|17 |JetBlue Airways         |2013|1    |1  |LGA   |1076    |6   |0     |
|18 |Envoy Air               |2013|1    |1  |LGA   |762     |6   |0     |
|19 |JetBlue Airways         |2013|1    |1  |EWR   |1023    |6   |0     |
+---+------------------------+----+-----+---+------+--------+----+------+
only showing top 20 rows

# Let's find the longest distance the plane travels.

In [33]:
from pyspark.sql.functions import col, count

df.groupBy(
    col("name").alias("airline")  # Alias działa tylko w select, tutaj go usuń
).agg(
    count("*").alias("count_of_flights_by_airline")  # Zmień spacje na podkreślenia
).orderBy(
    col("count_of_flights_by_airline").desc() # Poprawiona nazwa kolumny
).show(truncate=False)

+---------------------------+---------------------------+
|airline                    |count_of_flights_by_airline|
+---------------------------+---------------------------+
|United Air Lines Inc.      |58665                      |
|JetBlue Airways            |54635                      |
|ExpressJet Airlines Inc.   |54173                      |
|Delta Air Lines Inc.       |48110                      |
|American Airlines Inc.     |32729                      |
|Envoy Air                  |26397                      |
|US Airways Inc.            |20536                      |
|Endeavor Air Inc.          |18460                      |
|Southwest Airlines Co.     |12275                      |
|Virgin America             |5162                       |
|AirTran Airways Corporation|3260                       |
|Alaska Airlines Inc.       |714                        |
|Frontier Airlines Inc.     |685                        |
|Mesa Airlines Inc.         |601                        |
|Hawaiian Airlines Inc.     |342                        |
|SkyWest Airlines Inc.      |32                         |
+---------------------------+---------------------------+