In [113]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, coalesce, concat, lit
from pyspark.sql import functions as F

In [114]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType, FloatType

In [115]:
spark = SparkSession.builder.getOrCreate()

In [116]:
schema = StructType([
    StructField("id", StringType(), True),
    StructField("year", IntegerType(), True),
    StructField("month", StringType(), True),
    StructField("day", StringType(), True),
    StructField("dep_time", FloatType(), True),
    StructField("sched_dep_time", FloatType(), True),
    StructField("dep_delay", FloatType(), True),
    StructField("arr_time", FloatType(), True),
    StructField("sched_arr_time", FloatType(), True),
    StructField("arr_delay", FloatType(), True),
    StructField("carrier", StringType(), True),
    StructField("flight", StringType(), True),
    StructField("tailnum", StringType(), True),
    StructField("origin", StringType(), True),
    StructField("dest", StringType(), True),
    StructField("air_time", FloatType(), True),
    StructField("distance", FloatType(), True),
    StructField("hour", IntegerType(), True),
    StructField("minute", IntegerType(), True),
    StructField("time_hour", StringType(), True),
    StructField("name", StringType(), True)
])

In [117]:
df = spark.read.csv("/content/flights.csv", header=True, schema=schema)

In [118]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- dep_time: float (nullable = true)
 |-- sched_dep_time: float (nullable = true)
 |-- dep_delay: float (nullable = true)
 |-- arr_time: float (nullable = true)
 |-- sched_arr_time: float (nullable = true)
 |-- arr_delay: float (nullable = true)
 |-- carrier: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: float (nullable = true)
 |-- distance: float (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- time_hour: string (nullable = true)
 |-- name: string (nullable = true)

In [119]:
df.show()

+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+
| id|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|          time_hour|                name|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+
|  0|2013|    1|  1|   517.0|         515.0|      2.0|   830.0|         819.0|     11.0|     UA|  1545| N14228|   EWR| IAH|   227.0|  1400.0|   5|    15|2013-01-01 05:00:00|United Air Lines ...|
|  1|2013|    1|  1|   533.0|         529.0|      4.0|   850.0|         830.0|     20.0|     UA|  1714| N24211|   LGA| IAH|   227.0|  1416.0|   5|    29|2013-01-01 05:00:00|United Air Lines ...|
|  2|2013|    1|  1|   542.0|         540.0|      2.0|   923.0|         850.0|     33.0|     AA|  1141| N619AA|   JFK| MIA|   160.0|  1089.0|   5|    40|2013-01-01 05:00:00|American Airlines...|
|  3|2013|    1|  1|   544.0|         545.0|     -1.0|  1004.0|        1022.0|    -18.0|     B6|   725| N804JB|   JFK| BQN|   183.0|  1576.0|   5|    45|2013-01-01 05:00:00|     JetBlue Airways|
|  4|2013|    1|  1|   554.0|         600.0|     -6.0|   812.0|         837.0|    -25.0|     DL|   461| N668DN|   LGA| ATL|   116.0|   762.0|   6|     0|2013-01-01 06:00:00|Delta Air Lines Inc.|
|  5|2013|    1|  1|   554.0|         558.0|     -4.0|   740.0|         728.0|     12.0|     UA|  1696| N39463|   EWR| ORD|   150.0|   719.0|   5|    58|2013-01-01 05:00:00|United Air Lines ...|
|  6|2013|    1|  1|   555.0|         600.0|     -5.0|   913.0|         854.0|     19.0|     B6|   507| N516JB|   EWR| FLL|   158.0|  1065.0|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
|  7|2013|    1|  1|   557.0|         600.0|     -3.0|   709.0|         723.0|    -14.0|     EV|  5708| N829AS|   LGA| IAD|    53.0|   229.0|   6|     0|2013-01-01 06:00:00|ExpressJet Airlin...|
|  8|2013|    1|  1|   557.0|         600.0|     -3.0|   838.0|         846.0|     -8.0|     B6|    79| N593JB|   JFK| MCO|   140.0|   944.0|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
|  9|2013|    1|  1|   558.0|         600.0|     -2.0|   753.0|         745.0|      8.0|     AA|   301| N3ALAA|   LGA| ORD|   138.0|   733.0|   6|     0|2013-01-01 06:00:00|American Airlines...|
| 10|2013|    1|  1|   558.0|         600.0|     -2.0|   849.0|         851.0|     -2.0|     B6|    49| N793JB|   JFK| PBI|   149.0|  1028.0|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
| 11|2013|    1|  1|   558.0|         600.0|     -2.0|   853.0|         856.0|     -3.0|     B6|    71| N657JB|   JFK| TPA|   158.0|  1005.0|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
| 12|2013|    1|  1|   558.0|         600.0|     -2.0|   924.0|         917.0|      7.0|     UA|   194| N29129|   JFK| LAX|   345.0|  2475.0|   6|     0|2013-01-01 06:00:00|United Air Lines ...|
| 13|2013|    1|  1|   558.0|         600.0|     -2.0|   923.0|         937.0|    -14.0|     UA|  1124| N53441|   EWR| SFO|   361.0|  2565.0|   6|     0|2013-01-01 06:00:00|United Air Lines ...|
| 14|2013|    1|  1|   559.0|         600.0|     -1.0|   941.0|         910.0|     31.0|     AA|   707| N3DUAA|   LGA| DFW|   257.0|  1389.0|   6|     0|2013-01-01 06:00:00|American Airlines...|
| 15|2013|    1|  1|   559.0|         559.0|      0.0|   702.0|         706.0|     -4.0|     B6|  1806| N708JB|   JFK| BOS|    44.0|   187.0|   5|    59|2013-01-01 05:00:00|     JetBlue Airways|
| 16|2013|    1|  1|   559.0|         600.0|     -1.0|   854.0|         902.0|     -8.0|     UA|  1187| N76515|   EWR| LAS|   337.0|  2227.0|   6|     0|2013-01-01 06:00:00|United Air Lines ...|
| 17|2013|    1|  1|   600.0|         600.0|      0.0|   851.0|         858.0|     -7.0|     B6|   371| N595JB|   LGA| FLL|   152.0|  1076.0|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
| 18|2013|    1|  1|   600.0|         600.0|      0.0|   837.0|         825.0|     12.0|     MQ|  4650| N542MQ|   LGA| ATL|   134.0|   762.0|   6|     0|2013-01-01 06:00:00|           Envoy Air|
| 19|2013|    1|  1|   601.0|         600.0|      1.0|   844.0|         850.0|     -6.0|     B6|   343| N644JB|   EWR| PBI|   147.0|  1023.0|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+
only showing top 20 rows

In [120]:
df = df[['id','name','year','month','day','origin','distance','hour','minute']]

In [121]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- distance: float (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)

In [122]:
df.show(truncate=False)

+---+------------------------+----+-----+---+------+--------+----+------+
|id |name                    |year|month|day|origin|distance|hour|minute|
+---+------------------------+----+-----+---+------+--------+----+------+
|0  |United Air Lines Inc.   |2013|1    |1  |EWR   |1400.0  |5   |15    |
|1  |United Air Lines Inc.   |2013|1    |1  |LGA   |1416.0  |5   |29    |
|2  |American Airlines Inc.  |2013|1    |1  |JFK   |1089.0  |5   |40    |
|3  |JetBlue Airways         |2013|1    |1  |JFK   |1576.0  |5   |45    |
|4  |Delta Air Lines Inc.    |2013|1    |1  |LGA   |762.0   |6   |0     |
|5  |United Air Lines Inc.   |2013|1    |1  |EWR   |719.0   |5   |58    |
|6  |JetBlue Airways         |2013|1    |1  |EWR   |1065.0  |6   |0     |
|7  |ExpressJet Airlines Inc.|2013|1    |1  |LGA   |229.0   |6   |0     |
|8  |JetBlue Airways         |2013|1    |1  |JFK   |944.0   |6   |0     |
|9  |American Airlines Inc.  |2013|1    |1  |LGA   |733.0   |6   |0     |
|10 |JetBlue Airways         |2013|1    |1  |JFK   |1028.0  |6   |0     |
|11 |JetBlue Airways         |2013|1    |1  |JFK   |1005.0  |6   |0     |
|12 |United Air Lines Inc.   |2013|1    |1  |JFK   |2475.0  |6   |0     |
|13 |United Air Lines Inc.   |2013|1    |1  |EWR   |2565.0  |6   |0     |
|14 |American Airlines Inc.  |2013|1    |1  |LGA   |1389.0  |6   |0     |
|15 |JetBlue Airways         |2013|1    |1  |JFK   |187.0   |5   |59    |
|16 |United Air Lines Inc.   |2013|1    |1  |EWR   |2227.0  |6   |0     |
|17 |JetBlue Airways         |2013|1    |1  |LGA   |1076.0  |6   |0     |
|18 |Envoy Air               |2013|1    |1  |LGA   |762.0   |6   |0     |
|19 |JetBlue Airways         |2013|1    |1  |EWR   |1023.0  |6   |0     |
+---+------------------------+----+-----+---+------+--------+----+------+
only showing top 20 rows

# Let's find the airline with the most flights.

In [124]:
airline_with_the_most_flights = df.groupBy(
    col("name").alias("airline")
).agg(
    count("*").alias("count_of_flights_by_airline")
).orderBy(
    col("count_of_flights_by_airline").desc()
)

# Let's find the longest distance the planes travels.

In [125]:
longest_distance = df.groupBy(
    col("name").alias("AirLine")
).agg(
    max(col("distance")).alias("longest_distance")
).orderBy(col("longest_distance").desc())

In [126]:
df = df.withColumn(
    "minutes_total",
    (col("hour").cast("int") * 60) + col("minute").cast("int")
)

# Let's find the flight that take the most time.

In [127]:
df.show()

+---+--------------------+----+-----+---+------+--------+----+------+-------------+
| id|                name|year|month|day|origin|distance|hour|minute|minutes_total|
+---+--------------------+----+-----+---+------+--------+----+------+-------------+
|  0|United Air Lines ...|2013|    1|  1|   EWR|  1400.0|   5|    15|          315|
|  1|United Air Lines ...|2013|    1|  1|   LGA|  1416.0|   5|    29|          329|
|  2|American Airlines...|2013|    1|  1|   JFK|  1089.0|   5|    40|          340|
|  3|     JetBlue Airways|2013|    1|  1|   JFK|  1576.0|   5|    45|          345|
|  4|Delta Air Lines Inc.|2013|    1|  1|   LGA|   762.0|   6|     0|          360|
|  5|United Air Lines ...|2013|    1|  1|   EWR|   719.0|   5|    58|          358|
|  6|     JetBlue Airways|2013|    1|  1|   EWR|  1065.0|   6|     0|          360|
|  7|ExpressJet Airlin...|2013|    1|  1|   LGA|   229.0|   6|     0|          360|
|  8|     JetBlue Airways|2013|    1|  1|   JFK|   944.0|   6|     0|          360|
|  9|American Airlines...|2013|    1|  1|   LGA|   733.0|   6|     0|          360|
| 10|     JetBlue Airways|2013|    1|  1|   JFK|  1028.0|   6|     0|          360|
| 11|     JetBlue Airways|2013|    1|  1|   JFK|  1005.0|   6|     0|          360|
| 12|United Air Lines ...|2013|    1|  1|   JFK|  2475.0|   6|     0|          360|
| 13|United Air Lines ...|2013|    1|  1|   EWR|  2565.0|   6|     0|          360|
| 14|American Airlines...|2013|    1|  1|   LGA|  1389.0|   6|     0|          360|
| 15|     JetBlue Airways|2013|    1|  1|   JFK|   187.0|   5|    59|          359|
| 16|United Air Lines ...|2013|    1|  1|   EWR|  2227.0|   6|     0|          360|
| 17|     JetBlue Airways|2013|    1|  1|   LGA|  1076.0|   6|     0|          360|
| 18|           Envoy Air|2013|    1|  1|   LGA|   762.0|   6|     0|          360|
| 19|     JetBlue Airways|2013|    1|  1|   EWR|  1023.0|   6|     0|          360|
+---+--------------------+----+-----+---+------+--------+----+------+-------------+
only showing top 20 rows

# To find the flight route that takes the most time we need to add a new column (dest).

In [128]:
df2 = spark.read.csv("/content/flights.csv", header=True, schema=schema)

In [129]:
df2 = df2.select(col("id"),col("dest"))

In [130]:
df2.show()

+---+----+
| id|dest|
+---+----+
|  0| IAH|
|  1| IAH|
|  2| MIA|
|  3| BQN|
|  4| ATL|
|  5| ORD|
|  6| FLL|
|  7| IAD|
|  8| MCO|
|  9| ORD|
| 10| PBI|
| 11| TPA|
| 12| LAX|
| 13| SFO|
| 14| DFW|
| 15| BOS|
| 16| LAS|
| 17| FLL|
| 18| ATL|
| 19| PBI|
+---+----+
only showing top 20 rows

In [131]:
df = df.join(df2, on="id", how="inner")

In [132]:
df.show()

+---+--------------------+----+-----+---+------+--------+----+------+-------------+----+
| id|                name|year|month|day|origin|distance|hour|minute|minutes_total|dest|
+---+--------------------+----+-----+---+------+--------+----+------+-------------+----+
|  0|United Air Lines ...|2013|    1|  1|   EWR|  1400.0|   5|    15|          315| IAH|
|  1|United Air Lines ...|2013|    1|  1|   LGA|  1416.0|   5|    29|          329| IAH|
|  2|American Airlines...|2013|    1|  1|   JFK|  1089.0|   5|    40|          340| MIA|
|  3|     JetBlue Airways|2013|    1|  1|   JFK|  1576.0|   5|    45|          345| BQN|
|  4|Delta Air Lines Inc.|2013|    1|  1|   LGA|   762.0|   6|     0|          360| ATL|
|  5|United Air Lines ...|2013|    1|  1|   EWR|   719.0|   5|    58|          358| ORD|
|  6|     JetBlue Airways|2013|    1|  1|   EWR|  1065.0|   6|     0|          360| FLL|
|  7|ExpressJet Airlin...|2013|    1|  1|   LGA|   229.0|   6|     0|          360| IAD|
|  8|     JetBlue Airways|2013|    1|  1|   JFK|   944.0|   6|     0|          360| MCO|
|  9|American Airlines...|2013|    1|  1|   LGA|   733.0|   6|     0|          360| ORD|
| 10|     JetBlue Airways|2013|    1|  1|   JFK|  1028.0|   6|     0|          360| PBI|
| 11|     JetBlue Airways|2013|    1|  1|   JFK|  1005.0|   6|     0|          360| TPA|
| 12|United Air Lines ...|2013|    1|  1|   JFK|  2475.0|   6|     0|          360| LAX|
| 13|United Air Lines ...|2013|    1|  1|   EWR|  2565.0|   6|     0|          360| SFO|
| 14|American Airlines...|2013|    1|  1|   LGA|  1389.0|   6|     0|          360| DFW|
| 15|     JetBlue Airways|2013|    1|  1|   JFK|   187.0|   5|    59|          359| BOS|
| 16|United Air Lines ...|2013|    1|  1|   EWR|  2227.0|   6|     0|          360| LAS|
| 17|     JetBlue Airways|2013|    1|  1|   LGA|  1076.0|   6|     0|          360| FLL|
| 18|           Envoy Air|2013|    1|  1|   LGA|   762.0|   6|     0|          360| ATL|
| 19|     JetBlue Airways|2013|    1|  1|   EWR|  1023.0|   6|     0|          360| PBI|
+---+--------------------+----+-----+---+------+--------+----+------+-------------+----+
only showing top 20 rows